<!doctype html>
{% load static %}
<html>
    <head>
        <title>에이블스쿨 FAQ 챗봇</title>
        <meta charset="utf-8">
        {% block extrahead %}
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <style>
            .custom-button {
                background-color: white;
                color: #007bff;
                border: 1px solid #007bff;
                font-weight: bold;
                margin-top: 15px;
            }
            .main-page-button {
                position: absolute;
                right: 10px;
                font-size:12px;
                transform: translateY(-110%);
                background-color: #007bff;
                color: white;
                font-weight: bold;
                padding: 8px;
            }
        </style>
        {% endblock %}
    </head>
    <body class="bg-light-yellow">
        <div class="container mt-5">
            <a href="/" class="btn main-page-button">메인으로 돌아가기</a>
            <div class="card shadow">
                <div class="card-header text-center bg-primary text-white position-relative p-5" style="height: 200px;">
                    <h2>에이블스쿨 FAQ 챗봇</h2>
                    <a href="{% url 'selfchatgpt:chat_history' %}" class="btn custom-button" target="_blank" id="chat-history-button">채팅 이력 확인하기</a>
                    
                </div>
                <div class="card-body chat-box " id="chat-box">
                    <!-- 초기 메시지 -->
                    <div class="chat-message bot-message text-dark bg-warning rounded-pill p-4 mb-3 w-50">
                        <strong>안녕하세요! 에이블스쿨에 관해 궁금한 것이 있으면 언제든지 물어보세요!</strong>
                    </div>
                </div>
                <div class="card-footer" style="background: #f0e68c;">
                    <form id="chat-form" class="d-flex justify-content-center">
                        {% csrf_token %}
                        <div class="input-group" style="width: 100%;">
                            <textarea id="question" name="question" class="form-control" placeholder="메시지를 입력하세요..."></textarea>
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary p-4">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Bootstrap JS and dependencies -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <!-- Chat script -->
        <script>
            document.getElementById('chat-history-button').addEventListener('click', function(event) {
                event.preventDefault();
                if (confirm('현재 대화 내용이 지워집니다. 계속하시겠습니까?')) {
                    window.location.href = this.href;
                }
            });

            document.getElementById('chat-form').addEventListener('submit', function(event) {
                event.preventDefault();
                var input = document.getElementById('question');
                var message = input.value;
                if (message.trim() !== '') {
                    var chatBox = document.getElementById('chat-box');
                    var userMessage = document.createElement('div');
                    var timestamp = new Date().toLocaleString();
                    userMessage.className = 'chat-message user-message w-100 d-inline-block';
                    userMessage.innerHTML = `<div class="bg-primary font-weight-bold text-white p-3 mb-3 rounded-pill float-right">${message}<div class="text-right small text-light">${timestamp}</div></div>`;
                    chatBox.appendChild(userMessage);
                    input.value = '';

                    // Send message to the server
                    fetch("{% url 'selfchatgpt:chat' %}", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/x-www-form-urlencoded",
                            "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value
                        },
                        body: new URLSearchParams({
                            'question': message
                        })
                    })
                    .then(response => response.json())
                    .then(data => {
                        var botMessage = document.createElement('div');
                        botMessage.className = 'chat-message bot-message w-100 d-inline-block';
                        botMessage.innerHTML = `<div class="bg-warning font-weight-bold text-dark p-3 mb-3 rounded-pill float-left">${data.result}<div class="text-right small text-muted">${data.timestamp}</div></div>`;
                        chatBox.appendChild(botMessage);
                        chatBox.scrollTop = chatBox.scrollHeight;
                    });
                }
            });

            // 엔터키를 눌렀을 때 폼 제출
            document.getElementById('question').addEventListener('keydown', function(event) {
                if (event.key === 'Enter' && !event.shiftKey) {
                    event.preventDefault();
                    document.getElementById('chat-form').dispatchEvent(new Event('submit'));
                }
            });
        </script>
    </body>
</html>
