{% load static %}
<!doctype html>
<html>
<head>
    <title>{% block title %}회원가입{% endblock %}</title>
    <meta charset="utf-8">    
    <link rel="stylesheet" href="{% static 'accounts/signup.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/btn.css' %}">
</head>
<body style="background: #598384;">
    {% block content %}
    {% comment %} <h1> 회원 가입 </h1> {% endcomment %}
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" class="btn-3d blue" style="width: 100%;" value="회원가입" />
    </form>
    {% endblock %}
</body>
</html>
